My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact us ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name ",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "phone number ",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "4d9bf680-df54-456f-99d5-9347c7d0df0d",
      "name": "On form submission",
      "webhookId": "25f576db-a562-4924-a72b-d7d3338fb907"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1M6Q4FsSCsxMrr5S8JW2kzQX0QiIDFSbcW6Z308anA2Q",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M6Q4FsSCsxMrr5S8JW2kzQX0QiIDFSbcW6Z308anA2Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M6Q4FsSCsxMrr5S8JW2kzQX0QiIDFSbcW6Z308anA2Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json[\"Name \"] }}",
            "Email": "={{ $json.Email }}",
            "phone number ": "={{ $json[\"phone number \"] }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "formMode": "={{ $json.formMode }}"
          },
          "matchingColumns": [
            "Name "
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number ",
              "displayName": "phone number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "b947022f-601b-414c-927e-fbdb44023d86",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tOYllHZDVpwVF9CI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "hello this is a test email",
        "emailType": "text",
        "message": "this is a testing on email system sorry for the distrub ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "09666a0c-1c9a-461b-8c17-3514928c7c59",
      "name": "Send a message",
      "webhookId": "1f3da8e4-2ac9-408b-853b-12c541a63fd3",
      "credentials": {
        "gmailOAuth2": {
          "id": "LQcANQqPMVCjZTfk",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf70b256-b7d0-48d9-880b-38fe90dde638",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6e0dec960af1dc0e678b917a9bde57b29920e11f0182802baa45a8e9f2fcade"
  },
  "id": "ipmfF7jVuiKz92hE",
  "tags": []
}